@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font, body {
  font-family: "work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Shared Style  */
.pramary {
color: #131313;
}
.secoundary {
  color: #424242;
}
.text {
color: #727272;
font-size: 16px;
line-height: 26px;
}
.accent {
color: #FF900E;
}
.bg-accent {
  background-color: #FF900E;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.main-container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background-color: #FF900E;
  padding: 18px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: #fff;
}
main > section {
  padding-top: 100px;
}
.display-flex {
  display: flex;
}

/* Header-Design-Section */
header {
  background-color: rgba(255, 144, 14, 0.1);
  /* padding: 45px; */
}

/* nav section design */
nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.logo h3 {
  font-size: 3rem;
}
.menu ul {
  gap: 35px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
  font-weight:500;
}


/* banner-section-design */
#banner {
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 50px;
}
#banner .banner-content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.banner-description {
  margin-bottom: 32px;
  line-height: 26px;
}

.banner-content button {
  margin-bottom: 50px;
}
.banner-img img {
  width: 100%;
  border-radius: 8px;
}

/* team-section-design */
#team .main-container{
gap: 73px;
align-items: center;
}
#team .team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
#team .team-content {
  max-width: 550px;
}
.team-content h2 {
  font-size: 3rem;
  margin-bottom: 24px;
}
.t-h-light {
  font-weight: 500;
  font-size: 3rem;
}
.t-h-c-change {
  color: #FF900E;
}
.team-content p {
  margin-bottom: 32px;
}



/* All Responsive Section */
@media screen and (max-width: 576px) {
/* shared-desin */
.main-container {
  max-width: 100%;
  margin: 0 auto;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}
main > section {
  padding-top: 50px;
}

.text { 
font-size: 14px;
line-height: 25px;
}

/* main-design */

nav { 
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}
.logo h3 {
  font-size: 2rem;
}
.menu ul {
  gap: 20px;
} 
.menu ul li a { 
  font-size: 16px;
  font-weight:500;
}

/* banner-section-design */
#banner {
  padding: 0 12px;
  padding-top: 50px;
  padding-bottom: 30px;
}
#banner .banner-content {
  max-width: 100%;
  margin: 0 auto;
}
.banner-title {
  font-size: 3rem;
  margin-bottom: 22px;
}
.banner-description {
  margin-bottom: 22px;
  line-height: 26px;
}
.banner-content button {
  margin-bottom: 30px;
}
.banner-img img {
  width: 100%;
  border-radius: 8px;
}

/* team-section-design */
#team .main-container{
gap: 50px; 
flex-direction: column;
margin: 12px;
}
#team .team-image {
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
#team .team-content {
  max-width: 100%;
}
.team-content h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.t-h-light {
  font-weight: 500;
  font-size: 2.5rem;
}
.team-content p {
  margin-bottom: 20px;
}
#team .team-image img {
  width: 100%;
}

}



/* tablet-responsive-design */
@media screen and (min-width: 576px) and (max-width: 992px) {
  
/* nav section design */
nav {
  flex-direction: column;
}


/* team-section */
#team .main-container{
gap: 50px; 
flex-direction: column;
margin: 12px;
}
#team .team-image {
  grid-template-columns: repeat(2, 1fr);
}
#team .team-image img {
  width: 100%;
}

}